[submodule "site/themes/hugo-coder"]
	path = site/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "site/site/public"]
	path = site/site/public
	url = https://github.com/vcczh/vcczh.github.io.git
